# Python
venv/
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.env.*

# FastAPI logs/cache
*.log
*.sqlite3

# Node / React
node_modules/
dist/
build/
.npm/
.yarn/

# VSCode settings
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
*.swp

# PostgreSQL dump files
*.sql
*.dump
